---

import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
    <main>
        <section>
            <div class="flex flex-col items-center justify-between min-h-[300px]">
                <h1 class="mt-10">Semaforo</h1>
                <Button bid="plis" >Que esto funcione</Button>
            </div>
        </section>
    </main>
</Layout>
